version: '3.8'

services:
  # The Gateway
  reverse-proxy:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - dashboard-service
      - calculator-service

  dashboard-service:
    build: ./dashboard

  calculator-service:
    build: ./calculator

  health-service:
    build: ./health

  weather-service:
    build: ./weather

  currency-service:
    build: ./currency

  logs-service:
    build: ./logs